<!DOCTYPE html>
<html>
<head>
        <title>Academic Support</title>
</head>
        <body>
            <h1>Academic Process Made Easy!</h1>
            <p>Here at Push, we understand how complicated it can be to measure you academia
                accomplishments.
            </p>
           
           Time Management skills: <a href="https://appfluence.com/productivity/top-10-time-management-skills-for-college-students/" target="_blank">Top 10</a>
           <ul>
            <li><a href="academic.html">Academic</a></li>
            <li><a href="social.html">Social</a></li>
            <li><a href="financial.html">Financial</a></li>
        </ul>
        </body>
</html>