<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PUSH Website</title>
        <link rel="stylesheet" href="styles.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="services" id="services">
        <h1>Academic Resources</h1>
        <div class="services__wrapper">
          <div class="services__card">
            <h2>Choosing a Major</h2>
            <p>Deciding on who you want to be can be daunting...Let us help</p>
            <div class="services__btn">
                <a href="https://www.northcentral.edu/blog/best-majors-according-to-your-myers-briggs-test/"target="_blank">
                  <button>Take the Myers Briggs Test</button>
                </a>
            </div>
            <div class="services__btn">
                <a href="/">
                  <button>Professionals in the Field</button>
                </a>
            </div>
          </div>
          <div class="services__card">
              <h2>Schedule Management</h2>
              <p>Stay on Track</p>
              <div class="services__btn">
                <a href="https://www.mystudylife.com/">
                  <button>Find a balanace</button>
                </a>
              </div>
            </div>
          <div class="services__card">
            <h2>GPA Calculator</h2>
            <div class="services__btn">
              <a href="https://gpacalculator.net/college-gpa-calculator/">
                <button>Calculate</button>
              </a>
          </div>
        </div>
      </div>

      <script src="app.js"></script>
    </body>
</html>
