<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PUSH Website</title>
        <link rel="stylesheet" href="styles.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      </head>
  <body>
      <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="index.html" id="navbar__logo">PUSH</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="financial.html" class="navbar__links">Financial Resources</a>
          </li>
          <li class="navbar__item">
            <a href="academic.html" class="navbar__links">Academic Life</a>
          </li>
          <li class="navbar__item">
            <a href="social.html" class="navbar__links">Social Life</a
            >
          </li>
          <li class="navbar__item">
            <a href="blog.html" class="navbar__links">Blog</a
            >
          </li>
          <li class="navbar__btn">
            <a href="#sign-up" class="button" id="signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="services" id="services">
        <h1>Financial Resources</h1>
        <div class="services__wrapper">
          <div class="services__card">
            <h2>Scholarships & Grants</h2>
            <p>Can't beat free</p>
            <div class="services__btn">
              <a href="https://www.nerdwallet.com/article/loans/student-loans/how-to-get-a-scholarship" target="blank">
                <button>Guide to Scholarships</button>
              </a>
            </div>
              <div class="services__btn">
              <a href="https://www.nerdwallet.com/article/loans/student-loans/grants-for-college" target="blank">
                <button>Guide to Grants</button>
              </a>
              </div>
            <div class="services__btn">
              <a href="index.html" target="blank">
                <button>*Coming Soon*<br/>PUSH Scholarship</button>
              </a>
            </div>
          </div>
          <div class="services__card">
            <h2>Federal Aid</h2>
            <p>Apply for Federal Aidy</p>
            <div class="services__btn">
              <a href="https://www.nerdwallet.com/l/nerdwallet-guide-to-fafsa" target="blank">
                <button>Guide to FAFSA</button>
              </a>
            </div>
          </div>
          <div class="services__card">
            <h2>Loans</h2>
            <p>Federal and Private Loans</p>
            <div class="services__btn">
              <a href="https://www.nerdwallet.com/article/loans/student-loans/student-loans-federal-vs-private-loans" target="blank">
                <button>Guide to Federal & Private Loans</button>
              </a>
          </div>
        </div>
      </div>

      <script src="app.js"></script>
    </body>
</html>
