<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PUSH Website</title>
        <link rel="stylesheet" href="styles.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="services" id="services">
        <h1>Financial Resources</h1>
        <div class="services__wrapper">
          <div class="services__card">
            <h2>Scholarships & Grants</h2>
            <p>Can't beat free</p>
            <div class="services__btn">
              <a href="/">
                <button>How to search</button>
              </a>
            </div>
            <div class="services__btn">
              <a href="/">
                <button>Apply for the PUSH scholarship</button>
              </a>
            </div>
          </div>
          <div class="services__card">
            <h2>Government Aid</h2>
            <p>FAFSA explained</p>
            <div class="services__btn">
              <a href="/">
                <button>Find a balanace</button>
              </a>
            </div>
          </div>
          <div class="services__card">
            <h2>Loans</h2>
            <p>Take what you need</p>
            <div class="services__btn">
              <a href="/">
                <button>Breakdown of award letter</button>
              </a>
          </div>
        </div>
      </div>

      <script src="app.js"></script>
    </body>
</html>
