<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PUSH Website</title>
        <link rel="stylesheet" href="styles.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      </head>
  <body>
      <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="index.html" id="navbar__logo">PUSH</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="financial.html" class="navbar__links" id="home-page">Financial Resources</a>
          </li>
          <li class="navbar__item">
            <a href="academic.html" class="navbar__links" id="about-page">Academic Life</a>
          </li>
          <li class="navbar__item">
            <a href="social.html" class="navbar__links" id="services-page"
              >Social Life</a
            >
          </li>
          <li class="navbar__item">
            <a href="forums.html" class="navbar__links">Forums</a
            >
          </li>
          <li class="navbar__btn">
            <a href="#sign-up" class="button" id="signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="services" id="services">
        <h1>Financial Resources</h1>
        <div class="services__wrapper">
          <div class="services__card">
            <h2>Scholarships & Grants</h2>
            <p>Can't beat free</p>
            <div class="services__btn"><button><a href="/"></a>How to search</button></div>
            <div class="services__btn"><button><a href="/"></a>Apply for the PUSH scholarship</button></div>

          </div>
          <div class="services__card">
              <h2>Government Aid</h2>
              <p>FAFSA explained</p>
              <div class="services__btn"><button><a href="/"></a>Find a balanace</button></div>
            </div>
          <div class="services__card">
            <h2>Loans</h2>
            <p>Take what you need</p>
            <div class="services__btn"><button>Award letter explained</button></div>
          </div>
        </div>
      </div>

      <script src="app.js"></script>
    </body>
</html>
