<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PUSH Website</title>
        <link rel="stylesheet" href="styles.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="services" id="services">
        <h1>Meet the Team</h1>
        <div class="services__wrapper">
          <div class="services__card">
            <h2>Jada Simone</h2>
            <div class="services__btn"><button>My Story</button></div>
          </div>
          <div class="services__card">
              <h2>Jessica Lim</h2>
              <div class="services__btn"><button>My Story</button></div>
          </div>
          <div class="services__card">
            <h2>Kehinde Abioye</h2>
            <div class="services__btn"><button>My Story</button></div>
          </div>
        </div>
      </div>

      <script src="app.js"></script>
    </body>
</html>