<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PUSH Website</title>
        <link rel="stylesheet" href="styles.css" />
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
          crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
      </head>
  <body>
    <div class="services" id="services">
        <h1>Social Life</h1>
        <div class="services__wrapper">
          <div class="services__card">
            <h2>Dorm Life/Roommates</h2>
            <p>#adulting</p>
            <div class="services__btn"><button><a href="https://blog.blue-prynt.com/index.php/2019/04/01/25-questions-you-should-ask-your-college-roommate/"></a>Tips on cohabitating</button></div>
            <div class="services__btn"><button><a href="https://www.fastweb.com/student-life/social-life/articles"></a>School-life Balance</button></div>

          </div>
          <div class="services__card">
              <h2>Mental Health</h2>
              <p>Take care of yourself first</p>
              <div class="services__btn"><button><a href="/"></a>Coping skills</button></div>
              <div class="services__btn"><button><a href="/"></a>Get the help you need</button></div>
            </div>
          <div class="services__card">
            <h2>Advocacy</h2>
            <p>We're here for you</p>
            <div class="services__btn"><button>Conflict resolution by school</button></div>
          </div>
        </div>
      </div>

      <script src="app.js"></script>
    </body>
</html>